.section-title {
	font-size: 24px;
    line-height: 29px;
    color: #4b4b4b;
    font-weight: 700;
    white-space: nowrap;
}

.section-title-xl {
	font-size: 40px;
    line-height: 50px;
    color: #4b4b4b;
    font-weight: 700;
    margin-bottom: 20px;
}

.desc p {
    font-size: 18px;
    line-height: 32px;
    color: #4b4b4b;
    font-weight: 400;
    margin: 0;
}

/*profile overview about me*/
.doctor-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.doctor-content > div {
	margin-right: 1rem;
}

.profile .fa-money-bill-wave {
	    font-size: 14px;
    line-height: 29px;
    color: #32d1d0;
    margin: 0 5px;
}

.doctor-content img {
	width: 180px;
}

.doctor-content h3 {
	font-size: 24px;
    line-height: 29px;
    color: #4b4b4b;
    font-weight: 700;
    margin: 0;
}

.doctor-content .cost {
	font-size: 16px;
    line-height: 29px;
    color: #707070;
    font-weight: 400;
    margin-left: 2px;
    margin-top: 2px;
}

.doctor-content .experiences li {
	font-size: 14px;
    color: #b7b7b7;
    font-weight: 400;
}

.doctor-content .experiences  li:not(:last-of-type):after {
	content: ", ";
    margin-right: 5px;
}

.doctor-content .stars i {
    font-size: 14px;
    color: #f06d6e;
}

.doctor-content .stars i:not(:last-of-type) {
    margin-right: 5px;
}

.doctor-content .call i {
	    font-size: 16px;
    color: #fff;
    width: 36px;
    height: 36px;
    background-color: #21bab9;
    border-radius: 50%;
    line-height: 36px;
}

.doctor-content .call button:not(:last-of-type) {
    margin-right: 5px;
}

.doctor-content .call button {
    border: 0;
    padding: 0;
}

.doctor-content .skills ul li {
	font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.doctor-content .skills ul li:not(:last-of-type) {
    margin-bottom: 5px;
}

.doctor-content .skills ul li i {
	font-size: 14px;
    color: #f06d6e;
    margin-right: 5px;
}

.doctor-content .book-now a {
	border-radius: 20px;
    background-color: #f06d6e;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 11px 13px;
}

/*profile-body-header*/
.profile-body {
	margin-top: 1rem;
}

.profile-body-header {
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    padding: 10px 5px 6px;
    position: relative;
}
.profile-body-header:after {
	content: "";
    position: absolute;
    border-radius: 1px;
    background-color: #b4d8d8;
    height: 2px;
    width: calc(100% );
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.profile-body-header li:not(:last-child) {
	margin-right: 25px;
}

.profile-body-header li a {
	padding: 0 10px 0 11px;
    font-size: 18px;
    color: #b4d8d8;
    font-weight: 500;
    text-decoration: none;
    display: block;
}

.profile-body-header li.active a {
	color: #209392;
}

.profile-body-body {
	margin-top: 1rem;
}

/*accordion*/
.accs .accordion {
  background-color: #f4fafa;
  color: #444;
  cursor: pointer;
  padding: 10px 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  font-weight: 600;
  transition: 0.4s;
  margin-top: 10px;
  border-radius: 10px;
}

.accs  .accs-item {
	margin-top: 10px;
}

.accs .accs-item:first-child {
	margin-top: 0;
}

.accs .active, .accordion:hover {
  background-color: #21bab9;
}

.accs .accordion:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    background: 0;
    font-size: 16px;
    color: #32d1d0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    flex-shrink: 0;
    right: 2rem;
}

.accs .active:after {
  content: "\2212";
}

.accs .panel {
  padding: 0 2rem;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accs .timeline {
	margin: 0 0;
	position: relative;
}

.accs .timeline:first-child {
	margin-top: 5px;
}

.accs .timeline::after {
	content: '';
    position: absolute;
    width: 3px;
    background-color: #b4d8d8;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: -3px;
}

.accs .timeline .circle {
	padding: 10px 10px;
    position: relative;
    background-color: inherit;
}

.accs .timeline .circle::after {
	content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -6.8px;
    background-color: white;
    border: 2px solid #b4d8d8;
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.panel-title h2 {
	font-size: 16px;
    color: #b7b7b7;
    font-weight: 400;
    line-height: 10px;
}

.panel-title strong {
	color: #4b4b4b;
}

.panel-desc {
	font-size: 14px;
}

.panel-desc h2 {
	font-size: 16px;
    color: #b7b7b7;
    font-weight: 400;
    line-height: 0px;
}

.tablinks {
    cursor: pointer;
}

/*review*/
.review .form-label {
        font-size: 16px;
    line-height: 29px;
    color: #4b4b4b;
    font-weight: 500;
}

.review textarea {
    resize: none;
    height: 200px;
    max-width: 752px;
    width: 100%;
        border-radius: 20px;
    background-color: #fff;
    border: 1px solid #c9d8d8;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 15px;
}

.review .upload {
    margin-top: 2px;
}

.review .upload .form-label {
    border-radius: 20px;
    background-color: #32d1d0;
    padding: 10px 1rem;
    font-size: 14px;;
    color: #fff;
    font-weight: 400;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.review .upload i {
    font-size: 13px;
    color: #fff;
    margin-right: 1rem;
}

.review .upload input  {
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #c9d8d8;
    font-size: 16px;
    color: #b2b1b1;
    font-weight: 400;
    padding: 10px 15px;
    width: 90%;
    display: none;
}

.review .smit-btn {
    border-radius: 20px;
    background-color: #f06d6e;
    padding: 10px 1rem;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
    border: none;
    outline: none;
    margin-top: 1rem;
}

.review .fa-star {
    color: #b4d8d8;
}

.review .fa-star.active,
.review .fa-star:hover {
    color: #f06d6e;
    cursor: pointer;
}

.review .review-body {
    margin-top: 2rem;
}

.review .review-body ul {
    display: flex;
}

.review .review-body ul li {
    margin-right: 5px;
}

.rating-count-header h3 {
    font-size: 17px;
}
.rating-point ul {
    display: flex;
}

.rating-point ul li {
    margin-right: 4px;
}

.rating-point ul li i {
    font-size: 14px;
}

.rating-point ul li.active i {
    color: #f06d6e;
}

.rating-point h1 {
    font-size: 4rem;
    font-weight: 600;
}

.profile-header {
    display: flex;
    align-items: center;
}

.card-bg {
    background-color: #f4fafa;
    padding: 10px 1rem;
    border-radius: 10px;
}

.profile-header img {
    width: 70px;
    border-radius: 50%;
}

.profile-info .fa-star:hover {
    color: none!important;
}